@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body, html {
  
    height: 100%;
    margin: 0;
  }

  main {
    height: 100%;
  }

.card {
  background-color: #f9fafb; /* Light gray background color */
  padding: 2rem; /* Increased padding for larger cards */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increased width */
  text-align: center;
  border: 1px solid #e5e7eb; /* Light gray border */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Ensures cards are larger */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.card:hover {
  transform: scale(1.25); /* Rotate the card on hover */
}

